<div>
    <!-- The sidebar contains the options for choosing a topic or a speaker. Only what is chosen
    will be displayed in the main content. -->
    <topics><div myhighlight (click)="FilterByTopic(0)">== All Topics <span [hidden]="selectedTopic!=0"> ## </span></div>
    <!-- Display the topic names as radio buttons. -->
    <div *ngFor="#topic of topicNames; #i = index">
        <!--<input type="radio" ng-model="myTopic" ng-model-options="{ getterSetter: true }" value={{topic}}> {{topic}} <br> -->
    <div myhighlight [hidden]="i==0" (click)="FilterByTopic(i)">{{topic}} <span [hidden]="i!=selectedTopic"> ## </span></div>
    </div><br></topics>
</div>